* {
    margin: 0;
    padding: 0;
}

.head {
    min-height: 150px;
    background: #000;
}

.priceHead {
    display: block;
}

.priceBottom {
    /* display: flex; */
}

.text-price {
    color: red;
    font-size: 1.4em;
}

.product {}

.product input {
    max-width: 100%;
}

.productButtons {
    /* display: flex; */
}